{% extends 'base.html' %}
{% block content %}
<div class="container">
    <!-- ================ Order Details List ================= -->
    <div class="details">
      <div class="recentOrders">
        <div class="cardHeader">
          <h2>Clients</h2>
          <a href="{% url 'clientsadd' %}" class="btn">Actualiser la page <i class="fas fa-undo"></i></a>
          <a href="{% url 'clients' %}" class="btn"><i class="fas fa-arrow-left"></i> Retour en arrière</a>
        </div>
        {% if messages %}
          <ul class="messages text-center pb-2" style="color: red;">
              {% for message in messages %}
                  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}><i class="fas fa-times-circle"></i> {{ message }} <i>&#127881</i></li>
              {% endfor %}
          </ul>
          {% endif %}
        <hr style="color: black;margin-top: 20px;margin-bottom: 10px;">
         <div style="width: 85vw;color: black;">
            <form class="row g-4" method="post" action="{% url 'clientsad' %}" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="col-md-4">
                  <label for="nom" class="form-label">Nom</label>
                  <input type="text" class="form-control" name="nom" onclick="disableFields('nom_entreprise','code_nif')" id="nom" value="" placeholder="ex.Izere" required>
                </div>
                <div class="col-md-4">
                  <label for="prenom" class="form-label">Prenom</label>
                  <input type="text" class="form-control" onclick="disableFields('nom_entreprise','code_nif')" name="prenom" id="prenom" value="" placeholder="ex.Mark" required>
                </div>
                <div class="col-md-4">
                    <label for="nom_entreprise" class="form-label">Nom d'entreprise</label>
                    <input type="text" class="form-control" onclick="disableFields('nom','prenom','cni')" name="nom_entreprise" id="nom_entreprise" value="" placeholder="ex.Mark" required>
                  </div>
                <div class="col-md-4">
                  <label for="validationDefaultUsername" class="form-label">Email</label>
                  <div class="input-group">
                    <input type="text" class="form-control" name="email" id="validationDefaultUsername" placeholder="ex.izeremark@guruacademy.xyz"  aria-describedby="inputGroupPrepend2" required>
                  </div>
                </div>
                <div class="col-md-3">
                  <label for="validationDefault03" class="form-label">Telephone</label>
                  <input type="text" class="form-control" name="telephone" id="validationDefault03" placeholder="ex.68989887" required>
                </div>
                <div class="col-md-3">
                    <label for="validationDefault05" class="form-label">Quartier</label>
                    <input type="text" class="form-control" name="quartier" id="validationDefault05" placeholder="ex.Kigobe" required>
                  </div>
                <div class="col-md-3">
                  <label for="validationDefault05" class="form-label">Ville</label>
                  <input type="text" class="form-control" name="ville" id="validationDefault05" placeholder="ex.Bujumbura" required>
                </div>
                <div class="col-md-3">
                    <label for="validationDefault05" class="form-label">Pays</label>
                    <input type="text" class="form-control" name="pays" id="validationDefault05" placeholder="ex.Burundi" required>
                  </div>
                  <div class="col-md-3">
                    <label for="cni" class="form-label">CNI</label>
                    <input type="text" class="form-control" onclick="disableFields('nom_entreprise','code_nif')" name="cni" id="cni" placeholder="ex.531.018.03/2020" required>
                  </div>
                  <div class="col-md-3">
                    <label for="code_nif" class="form-label">Code NIF</label>
                    <input type="text" class="form-control" onclick="disableFields('nom','prenom','cni')" name="code_nif" id="code_nif" placeholder="ex.4235678" required>
                  </div>
                  <!--<div class="col-md-3">
                    <label for="validationDefault05" class="form-label">Matricule</label>
                    <input type="text" class="form-control" id="validationDefault05" placeholder="ex.Mark" required>
                  </div>-->
                  <div class="col-md-3">
                    <label for="validationDefault05" class="form-label">Photo</label>
                    <input type="file" class="form-control" name="photo" id="validationDefault05" required>
                  </div>
                  <div class="col-md-3">
                    <label for="validationDefault05" class="form-label">Piece D'identite</label>
                    <input type="file" class="form-control" name="piece" id="validationDefault05" required>
                  </div>
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
                    <label class="form-check-label" for="invalidCheck2">
                      Agree to terms and conditions
                    </label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-outline-primary" style="color: white;background-color: #0d6efd;" type="submit">Enregistrer</button>
                </div>
              </form>
               <hr>
             <p style="color: black;font-size: 15px;padding-top: 10px;" class="alert alert-primary">
                <i style="color: red;">NB</i> :<br>
                1.Si vous tapiez sur le Nom, il désactiva automatiquement<br> le Nom d'entreprise et encore le Code_NIF.Mais le Prenom resta activer et encore le CNI.<br>
                2.Si vous tapiez sur le Nom d'entreprise, il désactiva automatiquement<br> le Nom et encore le Prenom.Mais le Code NIF resta activer.<br>
                3.Si vous vouliez qu'ils soient activer tous les champs <br>pourque tu commence de faire le choix que vous vouliez saisi.
              </p>
            
         </div>
      </div>
    </div>
    <script>
        function disableFields(...fieldIds) {
          // body...
          fieldIds.forEach(fieldId => {
            const field = document.getElementById(fieldId);
            field.disabled = true;
          });
        }
    </script>
    
  </div>
{% endblock content %}