{% extends 'home.html' %}
{% block content %}
          <div class="container mt-20">
            <h1 class="text-center text-5xl wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">TANGANYIKA GURU <br><span style="margin-top: 10px;" class="font-medium">All Time With You</span></h1>
            <nav class="items-center content-center justify-between grid-cols-1" style="margin-left: 670px;margin-top: 60px;">
                 <a href="{% url 'about' %}" class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white p-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">A propos de nous</a>
            </nav>
          </div>
<div id="portfolio" class="our-portfolio section">
    <div class="container">
      <div class="row" style="background-color: #233876;border-radius: 20px;margin-bottom: 30px;">
        <div class="col-lg-6 offset-lg-3" style="background-image: url('../static/img/.png');">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2 style="color: white;margin-top: 20px;">Who We <span>Are</span> TANGU?</h2>
            <p style="color: white;font-size: 20px;font-weight: bold;">TANGU means Tanganyika Guru, it is a company that works in new technologies especially in computer networks and the development of computer software. It also provides practical training for computer network enthusiasts. In the installation of networks and site interconnections, Tangu has competent technicians.</p>
              <br>
              <br>
          </div>
        </div>
      </div>
      <div class="row">
         <div id="about" class="about-us section">
   
    <div class="container" style="background-color:#2A4365;border-radius: 20px;">
      <div class="row">
        <div class="col-lg-6 align-self-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="left-image">
            <img src="../static/img/tangu1.png" alt="">
          </div>
        </div>
        <div class="col-lg-6 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.2s">
          <div class="section-heading">
            <h2 style="font-weight: bold;margin-top: 20px;"><em>Historical view</em></h2>
            <p class="text-white" style="color: white;font-size: 20px;font-weight: bold;">
TANGU was found by four persons who want to revolutionize how digital technologies are being practicing here in Burundi and also give a good perspective on how a Burundian society sees natural digital technologies because many Burundians most people view new technologies as a distraction for young people and those who have nothing to do.. They officially began to work in May, 24th 2021 with four members and one branch located in Bujumbura. 
            </p>
              <h2 style="font-weight: bold;margin-top: 2px;"><em>Location of the organization</em></h2>
            <p class="text-white" style="color: white;font-size: 20px;font-weight: bold;">
TANGU has its headquarter office in Bujumbura town, Ntahangwa commune, in the north of Bujumbura below Emmaus house at Africana house . 
            </p> 

          </div>
        </div>
      </div>
    </div>

  </div>
      </div>
    </div>
  </div>
  <div id="portfolio" class="our-portfolio section" style="margin-bottom: 35px;">
    <div class="container">
      <div class="row" style="background-color: #1E429F;border-radius: 20px;margin-bottom: 30px;">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading  wow bounceIn" data-wow-duration="1s" data-wow-delay="0.2s">
            <h2 style="color: white;"><span>Vision</span></h2>
            <p style="color: white;font-size: 20px;" class="text-lg">TANGU has the vision to become the leading Network company in Burundi, it means well-known in Burundi territory and around the globe. The company which can depend on itself financially, technically and infrastructure etc.  </span></p>
              <br>
              <br>
               
          </div>
        </div>
      </div>
    </div>
  </div>
                 <h1 class="text-center font-semibold uppercase mb-2 text-3xl font-bold text-gray-900 dark:text-white wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s" style="font-size: 25px;">These are the core values of TANGU company:<br>
</h1>
       <div>
         <p class="text-center wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">– Integrity<br>
– Respect<br>
– Innovation<br>
– Honesty<br>
– Creativity<br>
– Fairness<br>
 – Transparency<br>
– Caring<br></p>
       </div>
  <div class="container mt-8">
    <h1 class="text-center font-semibold uppercase mb-2 text-3xl font-bold text-gray-900 dark:text-white wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">Nos Services:</h1>
                 <div class="container d-flex gap-4 items-center justify-between mt-20">
               <div class=" wow fadeIn" data-wow-duration="2s" data-wow-delay="0.25s">
                    <p class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white p-4 font-bold">Computer Network Training</p>
               </div>
               <div class=" wow fadeIn" data-wow-duration="2.25s" data-wow-delay="0.50s">
                    <p class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white p-4 font-bold">Computer Network Design</p>
               </div>
               <div class=" wow fadeIn" data-wow-duration="2.50s" data-wow-delay="0.75s">
                    <p class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white p-4 font-bold">Web Design</p>
               </div>
               <div class=" wow fadeIn" data-wow-duration="3s" data-wow-delay="1.25s">
                    <p class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white p-4 font-bold">Mobile Application Design</p>
               </div>
          </div>
        </div>
  <div style="margin-bottom: 50px;"></div>
{% endblock content %}