{% extends 'home.html' %}
{% block content %}
          <div class="container mt-20">
            <h1 class="text-center text-5xl wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">TANGANYIKA GURU <br><span style="margin-top: 10px;" class="font-medium">All Time With You</span></h1>
            <nav class="items-center content-center justify-between grid-cols-1" style="margin-left: 670px;margin-top: 60px;">
                 <a href="{% url 'service' %}" class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white p-4 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">Contactez-nous</a>
            </nav>
          </div>
   <div class="container mt-12 items-center justify-center content-center">
    <h1 class="text-center font-semibold uppercase mb-4 text-3xl font-bold text-gray-900 dark:text-white wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">Contactez nous Via</h1>

<div class="d-flex gap-2" style="justify-content: center;margin-left: 100px;">
<div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700 wow bounceIn" data-wow-duration="1s" data-wow-delay="0.6s">
<h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
<img src="../static/assets/software-card-2.png">
</h5>
<p class="text-sm font-normal text-gray-500 dark:text-gray-400 ">Télephone</p>
<ul class="my-4 space-y-3">
<li>
</a>
</li>
<li>
<a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
<span class="flex-1 ms-3 whitespace-nowrap">+257 79 557 801</span>
</a>
</li>
<li>
</li>
</ul>

</div>
<div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 dark:bg-gray-800 dark:border-gray-700 wow bounceIn" data-wow-duration="1s" data-wow-delay="0.6s">
<h5 class="mb-3 text-base font-semibold text-gray-900 md:text-xl dark:text-white">
<img src="../static/assets/software-card-1.png">
</h5>
<p class="text-sm font-normal text-gray-500 dark:text-gray-400 ">Email</p>
<ul class="my-4 space-y-3">
<li>
</a>
</li>
<li>
<a href="#" class="flex items-center p-3 text-base font-bold text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 group hover:shadow dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-white">
<span class="flex-1 ms-3 whitespace-nowrap">info.tangu@gmail.com </span>
</a>
</li>
</ul>
</div>
</div>
</div>
  <div style="margin-bottom: 50px;"></div>
{% endblock content %}