<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700 wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start rtl:justify-end">
        {% if request.resolver_match.url_name == 'password_reset' %}
        <a href="#" class="flex ms-2 md:me-24">
          <img src="../../GESTION/static/GESTION/static/img/tangu1.png" class="h-8 me-3" alt="TANGU Logo" />
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">TANGU</span>
        </a>
        {% elif request.resolver_match.url_name == 'password_reset_done' %}
        <a href="#" class="flex ms-2 md:me-24">
          <img src="../../GESTION/static/GESTION/static/img/tangu1.png" class="h-8 me-3" alt="TANGU Logo" />
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">TANGU</span>
        </a>
        {% elif request.resolver_match.url_name == 'password_reset_confirm' %}
        <a href="#" class="flex ms-2 md:me-24">
          <img src="../../GESTION/static/GESTION/static/img/tangu1.png" class="h-8 me-3" alt="TANGU Logo" />
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">TANGU</span>
        </a>
        {% elif request.resolver_match.url_name == 'password_reset_complete' %}
        <a href="#" class="flex ms-2 md:me-24">
          <img src="../../GESTION/static/GESTION/static/img/tangu1.png" class="h-8 me-3" alt="TANGU Logo" />
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">TANGU</span>
        </a>
        {% else %}
        <a href="#" class="flex ms-2 md:me-24">
          <img src="../../GESTION/static/GESTION/static/img/tangu1.png" class="h-8 me-3" alt="TANGU Logo" />
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">TANGU</span>
        </a>
        {% endif %}
      </div>
        <div class="flex items-center justify-center">
             <div class="flex items-baseline justify-between">
               <nav>
                    <ul class="flex">
                            <li class="mr-3">
                                   <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 hover:bg-blue-500 hover:text-white {% if request.resolver_match.url_name == 'home' %}bg-blue-500 text-white{% endif %}" href="{% url 'home' %}">Accueil</a>
                            </li>
                            <li class="mr-3">
                                   <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 hover:bg-blue-500 hover:text-white {% if request.resolver_match.url_name == 'develop' %}bg-blue-500 text-white{% endif %}" href="{% url 'develop' %}">Developpement</a>
                            </li>
                            <li class="mr-3">
                                    <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 hover:bg-blue-500 hover:text-white {% if request.resolver_match.url_name == 'service' %}bg-blue-500 text-white{% endif %}" href="{% url 'service' %}">Services</a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="mr-3">
                                     <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 hover:bg-blue-500 hover:text-white {% if request.resolver_match.url_name == 'formation' %}bg-blue-500 text-white{% endif %}" href="{% url 'formation' %}">Formation</a>
                            </li>
                            <li class="mr-3">
                              <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 hover:bg-blue-500 hover:text-white {% if request.resolver_match.url_name == 'stages' %}bg-blue-500 text-white{% endif %}" href="{% url 'stages' %}">Demande de stage</a>
                            </li>
                            <li class="mr-3">
                                     <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 hover:bg-blue-500 hover:text-white {% if request.resolver_match.url_name == 'audience' %}bg-blue-500 text-white{% endif %}" href="{% url 'audience' %}">Fait le Rendez-vous</a>
                            </li>
                            {% else %}
                             <li class="mr-3">
                                     <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 hover:bg-blue-500 hover:text-white {% if request.resolver_match.url_name == 'about' %}bg-blue-500 text-white{% endif %}" href="{% url 'about' %}">About</a>
                            </li>

                             <li class="mr-3">
                                     <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 hover:bg-blue-500 hover:text-white {% if request.resolver_match.url_name == 'contact' %}bg-blue-500 text-white{% endif %}" href="{% url 'contact' %}">Contactez-nous</a>
                            
                            </li>
                            {% endif %}
                    </ul>
               </nav>
             </div>
             
        </div>
        <div class="flex items-end">
          {% if request.user.is_authenticated %}
      <div class="flex items-center">
          <div class="flex items-center ms-3">
            <div>
              <button type="button" class="flex text-sm bg-gray-800 rounded-full focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600" aria-expanded="false" data-dropdown-toggle="dropdown-user">
                <span class="sr-only">Open user menu</span>
                <img class="w-8 h-8 rounded-full" src="../../GESTION/static/GESTION/static/img/tangu1.png" alt="user photo">
              </button>
            </div>
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded shadow dark:bg-gray-700 dark:divide-gray-600" id="dropdown-user">
              <div class="px-4 py-3" role="none">
                <p class="text-sm text-gray-900 dark:text-white" role="none">
                  {{request.user.username}}
                </p>
                <p class="text-sm font-medium text-gray-900 truncate dark:text-gray-300" role="none">
                  {{request.user.email}}
                </p>
              </div>
              <ul class="py-1" role="none">
                <li>
                  <a href="{% url 'suivi' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white {% if request.resolver_match.url_name == 'suivi' %}bg-blue-500 text-white{% endif %}" role="menuitem"><i class="fas fa-eye pe-2"></i>Suivi la demande de Formation</a>
                </li>
                <li>
                  <a href="{% url 'suivicl' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white {% if request.resolver_match.url_name == 'suivicl' %}bg-blue-500 text-white{% endif %}" role="menuitem"><i class="fas fa-eye pe-2"></i>Suivi la demande de Rendez-vous</a>
                </li>
                <li>
                  <a href="{% url 'suivie' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white {% if request.resolver_match.url_name == 'suivie' %}bg-blue-500 text-white{% endif %}" role="menuitem"><i class="fas fa-eye pe-2"></i>Suivi la demande de stage</a>
                </li>
                <!--<li>
                  <a href="{% url 'profile' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white {% if request.resolver_match.url_name == 'profile' %}bg-blue-500 text-white{% endif %}" role="menuitem"><i class="fas fa-user-alt pe-2"></i>Profile</a>
                </li>
                <li>
                  <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem"><i class="fas fa-envelope fa-2x pe-2"></i>Message</a>-->
    <!--
        <span class="badge bg-danger badge-dot"></span>
    -->
                </li>
                <li>
                  <a href="{% url 'log' %}" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-300 dark:hover:bg-gray-600 dark:hover:text-white" role="menuitem"><i class="fas fa-door-open pe-2"></i>Deconnectez</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        {% else %}
                 <nav>
                    <ul class="flex">
                            <li class="mr-3">
                              <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white p-4" href="{% url 'connecte' %}">Se connecter</a>
                                   <a class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-green-500 hover:bg-green-700 text-white" href="{% url 'inscrire' %}">S'inscrirer</a>
                                   
                            </li>
                            <li class="mr-3">
                            </li>
                    </ul>
               </nav>
             </div>
        {% endif %}
    </div>
  </div>
</nav>