{% extends 'home.html' %}
{% block content %}
        <div class="container mt-20">
            <h1 class="text-center text-5xl wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">TANGANYIKA GURU <br><span style="margin-top: 10px;" class="font-medium">All Time With You</span></h1>
            <nav class="items-center content-center justify-between grid-cols-1" style="margin-left: 670px;margin-top: 60px;">
                 <!--<a href="#" class="text-lg transition duration-500 ease-in-out inline-block hover:border border-blue-500 rounded-full py-2 px-4 bg-blue-500 hover:bg-blue-700 text-white p-8 wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">Faire ta Demande</a>-->
            </nav>
          </div>
           <div id="portfolio" class="our-portfolio section" style="margin-bottom: 35px;">
    <div class="container">
      <h1 class="text-center font-semibold uppercase mb-2 text-3xl font-bold text-gray-900 dark:text-white wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">Demande</h1>
<div class="relative overflow-x-auto mt-8">
    {% if message %}
    <p>{{ message }}</p>

    {% elif clients %}
    <table class="w-full mt-12 text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400 wow slideInRight" data-wow-duration="1s" data-wow-delay="0.25s">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom
                </th>
                <th scope="col" class="px-6 py-3">
                    Prenom
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Telephone
                </th>
                <th scope="col" class="px-6 py-3">
                    Type de stage
                </th>
              
               
                <th scope="col" class="px-6 py-3">
                    Reponse
                </th>
               
                <th scope="col" class="px-6 py-3">
                    Date de demande
                </th>
                <th scope="col" class="px-6 py-3">
                    Lettre de stage
                </th>
                
                {% if clients.etat == 'accepte' %}
                <th scope="col" class="px-6 py-3">
                    Date de Confirmation
                </th>
                {% endif %}
                {% if clients.etat == 'accepte' %}
                <th scope="col" class="px-6 py-3">
                    Date de debut
                </th>
                {% endif %}
                {% if clients.etat == 'accepte' %}
                <th scope="col" class="px-6 py-3">
                    Date de fin
                </th>
                {% endif %}
                
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        
        <tbody>
       
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{clients.nom}}
                </th>
                <td class="px-6 py-4 font-medium">
                    {{clients.prenom}}
                </td>
                <td class="px-6 py-4 font-medium">
                    {{clients.email}}
                </td>
                <td class="px-6 py-4 font-medium">
                    {{clients.telephone}}
                </td>
                
                <td class="px-6 py-4 font-medium">
                    {{clients.type_stage}}
                </td>
              
                {% if clients.etat == 'accepte' %}
                <td class="px-6 py-4 font-medium">
                    <p class="text-center truncate" style="color: green;font-size: 15px;">
                        Votre Rendez-Vous a ete accepte.<br>Et il faut que vous presentez a la siege dans la date donnee pour commencer votre stage
                    </p>
                        
                </td>

                {% elif clients.etat == 'refuse' %}
                <td class="px-6 py-4 font-medium">
                    <p class="text-center" style="color: green;font-size: 15px;">
                        Votre Rendez-Vous a ete refuse.
                        Et que nous sommes desole , on espere que vous tenterez votre chance encore a la prochaine.Mais nous vous remercions votre soutien de faire la demande de stage a TANGU 
                        dans la date donnee pour commencer votre stage
                    </p>
                </td>
                {% elif clients.etat == 'en_attente' %}
                <td class="px-6 py-4 font-medium">
                    <p class="text-center" style="color: green;font-size: 15px;">
                        Pas de reponse
                    </p>
                </td>
                {% endif %}
               
           
                <td class="px-6 py-4 font-medium">
                    {{clients.date_add}}
                </td>
                <td>
               
                    <p class="card-text">
                      <small>
                      <a style="font-size: 15px;" href="{{clients.lettre_stage.url}}">
                      <i class="fas fa-file-pdf"></i> Voir la Lettre de demande</a>
                    </small>
                    </p>
                    
                  </td>
                {% if clients.etat == 'accepte' %}
                <td class="px-6 py-4 font-medium">
                    {{clients.date_confirmation}}
                </td>
                {% endif %}
                {% if clients.etat == 'accepte' %}
                <td class="px-6 py-4 font-medium">
                    {{clients.date_debut}}
                </td>
                {% endif %}
                {% if clients.etat == 'accepte' %}
                <td class="px-6 py-4 font-medium">
                    {{clients.date_fin}}
                </td>
                {% endif %}
                <td class="px-6 py-4 font-medium">
                    {% if clients.etat == 'en_attente' %}
              
                <span class="">Votre Demande est en attente..</span>
              
              {% elif clients.etat == 'accepte' %}
                   <p class="text-center" style="color: green;font-size: 15px;"><i class="fas fa-check-circle"></i> Accepte</p><td>
              {% elif clients.etat == 'refuse' %}
              <p class="text-center" style="color: red;font-size: 15px;"><i class="fas fa-times-circle"></i> Refuse</p>
              {% endif %}
                </td>
            </tr>
        
            
        </tbody>
    
    </table>
    {% endif %}
  
</div>

      </div>
    </div>
  </div>
{% endblock content %}
